@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #141724;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.m-top-7 {
  margin-top: 20px;
}

.m-bottom-7 {
  margin-bottom: 20px;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  font-family: 'Arial';
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0px solid #000000;
  background: #29384c;
  color: #fff;
  appearance: none;

  font-size: 100%;
  margin: 0;
  width: 100%;
  border-radius: 5px;
}
.select_arrow {
  position: absolute;
  top: 13px;
  right: 15px;
  width: 6px;
  height: 6px;
  border: solid #7b7b7b;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.icon {
  height: 30px;
  width: 30px;
  color: #fff;
}

.noselect {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.noselect:focus {
  outline: none;
}

:root {
  --toastify-color-dark: #141d29 !important;
  --toastify-color-success: rgb(48, 209, 88) !important;
  --toastify-color-info: #0a84ff !important;
}

.Toastify__toast {
  border-radius: 8px !important;
  padding: 10px !important;
  box-shadow: none !important;
  border: 1px solid hsla(0, 0%, 100%, 0.125);
}

.dD5d-items::-webkit-scrollbar {
  width: 5px;
}

.dD5d-items::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.dD5d-items::-webkit-scrollbar-thumb:hover {
  background: #b3afb3;
}

.dD5d-items::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}
